.main-container {
	padding: 0px;
}



.card {
	border: none;
}

.taxi-icon {
	border-radius:50;
}

.taxi-img {
	position: fixed;
	z-index: -1;
	bottom: 100px;
}

.icons-s3-lg, .footer-design {
	background-color: #055198;
}



.form {
	display: inline-block; 
	border:1px solid #eee;
	border-radius: 20px;
	padding: 20px;
}
.form input{
	border:none;
	border-bottom: 1px solid #eee;
}

.btn-rounded-pill {
	border:2px solid #fff;
	background-color: #F09801;
}